.contenedor{
    width:60%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.cabecera{
    font-weight:bold;
    font-size:1.2em;
    color:white;
    background-color:lightgray;
}